.user-div {
  background: #1e1563;
  height: 100%;
  color: white;
  position: relative;
}

.user-list {

}

.single-user {
  text-align: center;
  border-bottom: groove 1px #595959;
}
.search-icon{
  background: #25197a;
  color: white;
  border-left: none;
}

.user-search-input {
  background: #25197a;
  border-right: none;
}
.user-search-div{
  margin-bottom: 10px;
  padding: 10px;
}

.user-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;

}

#log-out-icon:hover {

}
